table {
    border-collapse: collapse;
    width: 54rem;
    height: 50vh;
}
.main-table-div{
    display: flex;
    flex-direction: column;
}
.order-button{
    border: 1px solid black;
    width: 7rem;
    height: 5vh;
    border-radius: 21px;
    border: none;
    background-color: skyblue;
    margin-bottom: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

th,
td {
    padding: 10px;
    text-align: left;
    /* border: 1px solid black; */
}
tr{
    border-bottom: 1px solid black;
}

table {
    margin: 0 auto;
}
.table-heding{
    font-size: 12px;
}
.icons img{
    /* width: 1rem;
    height: 4vh; */
    width: 0.8rem;
    height: 3vh;
}